.create-product {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 252, 176, 0.767);
}
.create-btn{
  background-color: none;
  font-size: 20px;
  padding: 5px;
}
input{
  font-size: 20px;
  padding: 4px;
}