@media (max-width: 800px) {
  .products-con {
    grid-template-columns:repeat(3,1fr);
  }
  .adminEntry{
    display: flex;
    display: none;
  }
  .products-in-cart {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 500px) {
  .products-con {
    grid-template-columns:repeat(2,1fr);
  }
  .search-bar input {
    width: 150px;
   
  }
  .products-in-cart {
    grid-template-columns: repeat(2, 1fr);
  }
  
}